/** ############################ **/
/** ---  PARTIE SITE GLOBALE --- **/
/** ############################ **/

body{
    margin: 0%;
}
:root{
    --fondNoir : #14151d;
    --fondNoirNoir: #1A1A1A;
    --ecritureBlanche : #F5F5F5;
    --ecritureBleu : #00A8FF;
    --ecritureGris : #A9A9A9;

    --footer-padding: 5%;
}
h5{
    font-size: 1.1em;
}



/** ############################ **/
/** ---   PARTIE SITE MAIN   --- **/
/** ############################ **/

#main-flex{
    display: flex;
    justify-content: space-around;
    height: 50vh;
}
#main-flex section{
    border: 1px solid var(--fondNoirNoir);
    padding: 1%;
    margin: 1%;
    box-shadow: 2px 2px 2px var(--fondNoirNoir);
}
#main-flex section > h2{
    border-bottom: 1px solid var(--fondNoirNoir);
}
#main-flex section div img{
    float: left;
    display: inline;
    margin-right: 3%;
}

@media screen and (max-width: 667px){
    #main-flex{
        flex-direction: column;
        height: auto;
    }
}