/** ############################ **/
/** ---  PARTIE SITE NAVBAR  --- **/
/** ############################ **/
nav{
    border-bottom: 1px solid var(--fondNoirNoir);
}
nav > div:first-child{
    background-color: var(--fondNoirNoir);
    width: 100%;
}
nav > div:last-child{
    background-color: var(--fondNoir);
    width: 100%;
}
nav > div > div:last-child{
    display: flex;
    width: 80%;
}
nav > div > div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > div > div:last-child a{
    color: var(--ecritureBlanche);
    font-size: 1.2em;
    text-decoration: none;
    margin-right:2%;
    display: block;
}
nav > div > div > aside:first-child{
    width: 30%;
}
nav > div > div > aside:last-child{
    width: 70%;
}

nav > div > div aside:last-child ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}
nav > div > div aside:last-child ul li{
    list-style: none;
    margin: 0 1%;
    display: flex;
}
nav > div > div aside:last-child ul li a{
    text-decoration: none;
    padding: 0% 10px;
    color: white;
    font-size: 1.2em;
    transition: 1s;
}

nav > div > div aside:last-child ul li a:hover{
    color:#00A8FF;
    text-decoration: underline;
    transition: 1s;
}
nav > div > div aside:last-child ul li img{
    width: 30px;
    height: 30px;
}

#logo{
    width:50%;
}
#fil-ariane{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
#fil-ariane p{
    color: var(--ecritureBlanche); 
}
#titre-page{
    color:var(--ecritureBleu);
    text-align: center; 
    margin: 0;
    padding: 2%;
}

.nav-second-menu-global{
    display: none;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}
.nav-principale{
    position: relative;
    width: 40%;
    padding-left: 20px;
    height: 40px;
    padding-top:1%;
}
.nav-second-menu{
    display: none;
}
.nav-principale:hover .nav-second-menu-global{
    display: block;
    position: relative;
    background-color: rgba(35, 33, 33, 0.95);
    width: 100%;
    z-index: 1;
    padding: 5%;
    border: 1px solid var(--ecritureBleu);
    cursor: pointer;
}
.nav-second-menu-leger{
    display: flex;
    align-items: flex-start;
}
.nav-principale:hover > a{
    color: var(--ecritureBleu);
    transition: 1s;
    text-decoration: underline;
    display: inline-block;
    height: 40px;
}
.nav-second-menu-leger > aside{
    width: 100%;
    padding: 3%;
}
.nav-second-menu-leger > aside h4{
    color: var(--ecritureGris);
}
.nav-second-menu-global > p {
    color: var(--ecritureGris);
}

@media screen and (max-width: 667px){
    nav > div > div aside:last-child ul li a:first-child{
        display: none;
    }
    nav > div > div:last-child{
        width: 98%;
    }
    nav > div > div:last-child a{
        font-size: smaller;
        margin: 0;
        display: inline-block;
    }
    #fil-ariane p{
        font-size: smaller;
    }
    .nav-principale:hover .nav-second-menu-global{
        width: auto;
        text-align: center;
    }
    .nav-principale{
        padding-left: 0;
    }
    .nav-second-menu-leger{
        flex-direction: column;
    }
}