/** ############################ **/
/** ---  PARTIE SITE GLOBALE --- **/
/** ############################ **/

body{
    margin: 0%;
}
:root{
    --fondNoir : #14151d;
    --fondNoirNoir: #1A1A1A;
    --ecritureBlanche : #F5F5F5;
    --ecritureBleu : #00A8FF;
    --ecritureGris : #A9A9A9;

    --footer-padding: 5%;
}
h5{
    font-size: 1.1em;
}

/** ############################ **/
/** ---  PARTIE SITE NAVBAR  --- **/
/** ############################ **/
nav{
    border-bottom: 1px solid var(--fondNoirNoir);
}
nav > div:first-child{
    background-color: var(--fondNoirNoir);
    width: 100%;
}
nav > div:last-child{
    background-color: var(--fondNoir);
    width: 100%;
}
nav > div > div:last-child{
    display: flex;
    padding: 1% 5%;
    width: 50%;
}
nav > div > div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > div > div:last-child a{
    color: var(--ecritureBlanche);
    font-size: 1.2em;
    text-decoration: none;
    margin-right:2%;
}
nav > div > div > aside:first-child{
    width: 30%;
}
nav > div > div > aside:last-child{
    width: 70%;
}

nav > div > div aside:last-child ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}
nav > div > div aside:last-child ul li{
    list-style: none;
    margin: 0 1%;
    display: flex;
}
nav > div > div aside:last-child ul li a{
    text-decoration: none;
    padding: 0% 10px;
    color: white;
    font-size: 1.2em;
    transition: 1s;
}

nav > div > div aside:last-child ul li a:hover{
    color:#00A8FF;
    text-decoration: underline;
    transition: 1s;
}
nav > div > div aside:last-child ul li img{
    width: 30px;
    height: 30px;
}

#logo{
    width:50%;
}
#fil-ariane{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
#fil-ariane p{
    color: var(--ecritureBlanche); 
}
#titre-page{
    color:var(--ecritureBleu);
    text-align: center; 
    margin: 0;
    padding: 2%;
}

.nav-second-menu-global{
    display: none;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}
.nav-principale{
    position: relative;
    width: 100%;
}
.nav-second-menu{
    display: none;
}
.nav-principale:hover .nav-second-menu-global{
    display: block;
    position: absolute;
    background-color: rgba(35, 33, 33, 0.95);
    width: 100%;
    z-index: 1;
    padding: 5%;
    border: 1px solid var(--ecritureBleu);
    cursor: pointer;
}
.nav-second-menu-leger{
    display: flex;
    align-items: flex-start;
}
.nav-principale:hover > a{
    color: var(--ecritureBleu);
    transition: 1s;
    text-decoration: underline;
}
.nav-second-menu-leger > aside{
    width: 50%;
    padding: 5%;
}
.nav-second-menu-leger > aside h4{
    color: var(--ecritureGris);
}



/** ############################ **/
/** ---   PARTIE SITE MAIN   --- **/
/** ############################ **/

#main-flex{
    display: flex;
    justify-content: space-around;
    height: 50vh;
}
#main-flex section{
    border: 1px solid var(--fondNoirNoir);
    padding: 1%;
    margin: 1%;
    box-shadow: 2px 2px 2px var(--fondNoirNoir);
}
#main-flex section > h2{
    border-bottom: 1px solid var(--fondNoirNoir);
}
#main-flex section div img{
    float: left;
    display: inline;
    margin-right: 3%;
}

/** ############################ **/
/** ---   FOOTER QUI FOOT    --- **/
/** ############################ **/

footer{
    background-color: var(--fondNoirNoir);
    color: var(--ecritureBlanche);
    border-top: 1px solid var(--fondNoirNoir);
}
footer > div:first-child{
    display: flex;
    justify-content: space-between;
    padding-right: var(--footer-padding);
}
footer > div:first-child > div:first-child{
    display: flex;
}
footer > div:first-child > div:last-child{
    display: flex;
}
footer > div:first-child > div aside{
    float: left;
    display: flex;
}
footer > div:first-child aside img{
    object-fit: contain; /** permet de garder les proportions de l'image **/
    width: 20%;
    aspect-ratio: 3/2;
}
footer > div:first-child aside div{
    float: left;
    margin-left: 2%;
    align-self: center;
}

footer > div:last-child{
    display: flex;
    justify-content: space-between;
    background-color: var(--fondNoir);
    clear: both;
    padding-left: var(--footer-padding);
    padding-right: var(--footer-padding);
}
footer > div:last-child article ul{
    list-style: none;
    padding: 0;
}
footer > div:last-child article ul li a{
    text-decoration: none;
    color: var(--ecritureBlanche);
    transition: 1s;
}
#droite{
    float: right;
}
footer > div:last-child article{
    width: 25%;
}
#logo-footer{
    width: 100%;
    height: 100%;
}
#footer-copyright{
    text-align: center;
    padding: 1%;
}

/** INVERSION DES FLEXS POUR LE FOOER FIRST CHILD **/

footer > div > div > aside{
    flex-direction: row-reverse;
}