/** ############################ **/
/** ---  PARTIE SITE GLOBALE --- **/
/** ############################ **/

body{
    margin: 0%;
}
:root{
    --fondNoir : #232633;
    --fondNoirNoir: #1A1A1A;
    --ecritureBlanche : #F5F5F5;
    --ecritureBleu : #00A8FF;
}

/** ############################ **/
/** ---  PARTIE SITE NAVBAR  --- **/
/** ############################ **/
nav{
    border-bottom: 1px solid var(--fondNoirNoir);
}
nav > div:first-child{
    background-color: var(--fondNoirNoir);
    width: 100%;
}
nav > div:last-child{
    background-color: var(--fondNoir);
    width: 100%;
}
nav > div > div{
    padding: 1% 5%;
}
nav > div > div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > div > div:last-child a{
    color: var(--ecritureBlanche);
    font-size: 1.2em;
    text-decoration: none;
    margin-right:2%;
}
nav > div > div aside:first-child{
    width: 30%;
}
nav > div > div aside:last-child{
    width: 70%;
}

nav > div > div aside:last-child ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
nav > div > div aside:last-child ul li{
    list-style: none;
    margin: 0 1%;
    display: flex;
}
nav > div > div aside:last-child ul li a{
    text-decoration: none;
    padding: 0% 10px;
    color: white;
    font-size: 1.2em;
    transition: 1s;
}

nav > div > div aside:last-child ul li a:hover{
    color:#00A8FF;
    transition: 1s;
    rotate: -30deg;
}
nav > div > div aside:last-child ul li img{
    width: 30px;
    height: 30px;
}

#logo{
    width:50%;
}
#fil-ariane{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#fil-ariane p{
    color: var(--ecritureBlanche); 
}
#titre-page{
    color:var(--ecritureBleu);
    text-align: center; 
    margin: 0;
    padding: 2%;
}

/** ############################ **/
/** ---   PARTIE SITE MAIN   --- **/
/** ############################ **/

